.chilCareMessageMainContainer {
  margin-top: 120px;
  margin-bottom: 265px;
  display: flex;
}

.imageContainer {
  width: 20%;
}

.imageContainer img {
  object-fit: contain;
  width: 100%;
}

.mainContainer {
  width: 60%;
  background-color: #fcf9fc;
  padding: 52px;
}

.question {
  border-radius: 3px 3px 3px 0px;
  background: #8B3888;
  padding: 15px;
  width: 100% !important;
  height: 100%;
}

.questionBox {
  width: 20px;
  background-color: #8B3888;
}

.questionBox div {
  height: 100%;
  width: 20px;
  background-color: #fcf9fc !important;
  border-bottom-right-radius: 17px;

}

.question h6 {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.question p {
  color: #E0E0E0;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}






.emptyContainer {
  width: 20%;
}

.buttonContainer {
  text-align: end;
}

.textareaInput {
  width: 100%;
  padding: 21px;
  border-radius: 11px;
  height: 134px;
  border: 1px solid #dcdcdc;
  background-color: #fcf9fc;
  resize: none;
}

.textareaInput:focus-visible {
  outline: 1px solid #dcdcdc;
}