@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --outfit-font: "Outfit", sans-serif;
  --violet-primary: #8b3888;
  --violet-secondary: rgba(254, 249, 255, 0.9);
  --violet-accent: rgba(168, 106, 183, 0.06);
}

body {
  font-family: var(--outfit-font) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1420px;
}

:root {
  --outfit-font: "Outfit", sans-serif;
  --violet-primary: #8b3888;
  --violet-secondary: rgba(254, 249, 255, 0.9);
  --violet-accent: rgba(168, 106, 183, 0.06);
}

body {
  font-family: var(--outfit-font) !important;
}

/* header part css */
.header .navbar-nav {
  gap: 74px;
}

.header a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}

.header .form-select {
  background-color: var(--violet-accent);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
  padding: 16px 24px;
}

.header .login-btn {
  background: var(--violet-primary);
  border-radius: 7px;
  padding: 16px 36px;
  color: white;
  font-weight: 500;
}

/* header */

.button-navbar {
  gap: 15px !important;
}

.language-dropdown {
  width: 117px !important;
}

/* footer css */
footer {
  background-color: #1d001c;
  padding-top: 110px;
}

footer img {
  margin-bottom: 40px;
}

footer .content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px !important;
}

footer .mid_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #E0E0E0;
  padding: 80px 0 100px;
}

footer a {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(224, 224, 224, 0.878431);
  margin-bottom: 20px;
}

footer .hr {
  border-top: 1px solid rgba(221, 221, 221, 0.3);
  margin-top: 70px !important;
}

footer .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(224, 224, 224, 0.878431);
  text-align: center;
  padding: 35px 0 46px;
}